.povratak, .submit, .preuzmiJson, .preuzmiCsv {
   cursor: pointer;
}

.datatable {
   border: 1px solid black;
   border-collapse: collapse;
}

.datatable th, .datatable td {
   border: 1px solid black;
}

.dugme {
   text-align: center;
}

.naslov {
   text-align: center;
}

.trazilice-container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}